body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 209, 209, 0.553);
}


#buttons-container button {
    border-radius: 20px;
    font-weight: 500;
    margin: 5px;
}

#btnToggle {
    background-color: #ff00009d;
}



#btnEnd, #btnOut {
    background-color: #ff0000e3;
}
.button-stick {
    display: flex;
    position: fixed;
    bottom: 4vh;
    justify-content: center;
    width: 100vw;
}